@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'base/reset';
@import 'base/typography';



.show{
    transform: translateY(100vh);
}
.btn{
    display: block;
    line-height: rem(36);
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size*0.9;
    font-weight: map-get($weight, bold );
    letter-spacing: 1px;
    width: rem(158);
    height: rem(38);
    border: 1px solid $verylight-gray;
    background-color: $dark-violet;
    color: $verylight-gray;
    transition: all 0.3s ease;
    &:hover{
        color: $dark-violet;
        background-color: $verylight-gray;
    }
}
.line{
    &-2{
        &::before{
            content: '';
            display: block;
            width: rem(150);
            height: 1px;
            background-color: $dark-violet;
            margin: 0 auto rem(50)
        }
    }
    @media screen and(min-width:$desktop) {
        &::before{
            content: '';
            display: block;
            width: rem(150);
            height: 2px;
            background-color: $verylight-gray;
            margin-bottom: rem(50);
        }
        &-2{
            &::before{
                margin: 0 0 rem(50);
            }
        }
    }
}
@import 'components/header.scss';
@import 'components/main.scss';
@import 'components/footer.scss';