@import './../abstracts/functions';

.header{
    width: 100vw;
    position: relative;
    background-color: white;
    &__nav{
        padding: 0 rem(25);
        position: inherit;
        height: rem(80);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        z-index: 20;
        &--mobile-icon{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        &--mobile{
            position: absolute;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: $dark-violet;
            z-index: 15;
            transition: transform 0.5s ease;
            top: -100vh;
            &-nav{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: rem(100);
                &--link{
                    width: rem(329);
                    height: rem(52);
                    text-align: center;
                    line-height: rem(50);
                    margin: rem(10) 0;
                    position: relative;
                    &>a{
                        font-size: $font-size*1.2;
                        text-decoration: none;
                        font-weight: map-get($weight, bold );
                        text-transform: uppercase;
                        color: $verylight-gray;
                    }
                    &:nth-child(4){
                        &>a{
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        border: 2px solid $verylight-gray;
                    }
                }
            }
            &--bg{
                bottom: 0;
                position: absolute;
                width: 100%;
                height: 58.133vw;
                background: center/cover url(../../images/bg-pattern-mobile-nav.svg);
            }
        }
        &--desktop-nav{
            display: none;
            align-items: center;
            &--link{
                margin-left: rem(25);
                &>a{
                    color: $dark-grayish-violet;
                    text-transform: uppercase;
                    font-size: $font-size*0.9;
                    font-weight: map-get($weight, bold );
                    text-decoration: none;
                    transition: all 0.3s ease;
                }
                &--nice{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: rem(-1);
                        left: 0;
                        background-color: $dark-violet;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all .5s 0s;
                    }
                    &:hover::before{
                        visibility: visible;
                        transform: scale(1);
                    }
                    &:hover{
                        color: $dark-violet;
                    }
                }
                &-plan{
                    display: inline-block;
                    text-align: center;
                    line-height: rem(34);
                    width: rem(144);
                    height: rem(38);
                    color: black !important;
                    border: 2px solid black;
                    &:hover{
                        color: $verylight-gray !important;
                        background-color: black;
                    }
                }
            }
        }
    }
    &__hero{
        position: relative;
        &--img{
            &-mobile{
                width: 100%;
                display: block;
            }
            &-desktop{
                display: none;
            }
        }
        &--pitch{
            padding: rem(93) rem(25);
            background-color: $dark-violet;
            color: $verylight-gray;
            text-align: center;
            position: relative;
            &--words{
                position: relative;
                z-index: 10;
            }
            h1{
                font-size: $font-size*3;
                font-weight: map-get($weight, bold );
            }
            p{
                line-height: 1.5;
                margin: rem(16) 0 rem(20) 0;
            }
            a, p, h1{
                z-index: 5;
            }
            &--rightMobileImg, &--leftMobileImg{
                pointer-events: none;
                z-index: 5;
                position: absolute;
            }
            &--leftMobileImg{
                width: rem(168);
                height: rem(165);
                top: 0;
                left: 0;

            }
            &--rightMobileImg{
                width: rem(124);
                height: rem(330);
                bottom: rem(-175);
                right: 0;
            }
            &--rightDesktopImg, &--leftDesktopImg{
                display: none;
            }
        }
    }
    @media screen and(min-width:$desktop) {
        &__nav{
            padding: 0 11.667vw;
            &--mobile-icon{
                display: none;
            }
            &--desktop-nav{
                display: flex;
            }
            &--mobile{
                display: none;
            }
        }
        &__hero{
            &--img{
                &-mobile{ 
                    display: none;
                }
                &-desktop{
                    display: block;
                    position: absolute;
                    top: rem(94);
                    height: 45.139vw;
                    max-height: rem(650);
                    z-index: 5;
                    right: 11vw;
                }
            }
            &--pitch{
                padding: rem(93) 11.111vw;
                &--words{
                    width: rem(450);
                }
                h1{
                    font-size: $font-size*4;
                }
                p{
    
                }
                a{
                    display: block;
                    margin: 0;
                }
                p, h1{
                    text-align: left;
                }
                &--rightMobileImg, &--leftMobileImg{
                    display: none;
                }
                &--rightDesktopImg, &--leftDesktopImg{
                    display: block;
                    position: absolute;
                }
                &--leftDesktopImg{
                    left: 0;
                    bottom:rem(-310);
                    width: rem(182);
                }
                &--rightDesktopImg{
                    right: 0;
                    top:rem(-70);
                    width: rem(370);
                    z-index: 5;
                }
            }
        }
    }
}